@page
@model Website.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
}

<h2>Shop</h2>

<form method="get">
    <input type="text" name="searchQuery" value="@Model.SearchQuery" placeholder="Search products..." />
    <button type="submit">Search</button>
</form>

<div class="product-list">
    @foreach (var product in Model.Products)
    {
        <div class="product-item">
            <h4>@product.Name - $@product.Price</h4>
            <p>@product.Description</p>
            <img src="~/HomeImage/@product.image" alt="@product.Name" width="100" height="100">
            <form method="post" asp-page-handler="AddToCart">
                <input type="hidden" name="productId" value="@product.Id" />
                <input type="number" name="quantity" value="1" min="1" /> <!-- Quantity input field -->
                <button type="submit">Add to Cart</button>
            </form>
        </div>
    }
</div>

<style>
    .product-list {
        display: flex;
        flex-wrap: wrap;
    }

    .product-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        box-sizing: border-box;
        text-align: center;
    }

        .product-item img {
            display: block;
            margin: 0 auto 10px;
        }
</style>